body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbbbbb 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav {
    text-align: center;
    padding: 5px;
}

header #branding h1 {
    text-align: center;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 24px;
}

nav a:hover {
    color: #ffffff;
    background: #1b9a8a;
    padding: 5px;
}

#location, #summary, #education, #resume {
    margin: 30px;
    padding: 15px;
    background: #ffffff;
}

#resume a {
    display: inline-block;
    background: #50b3a2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#resume a:hover {
    background: #1b9a8a;
}
